html {
margin-left: 20px;
margin-right: 150px;
background-color:#c9b9b7
}

h1 {
font-family: Georgia;
size: 4em;
padding-top: 10px;
}

h2 {
font-family: Georgia;
size: 3em;
padding-top: 20px;
}

h3 {
font-family: Georgia;
size: 2em;
}

p {
font-family: Georgia;
}

strong {
font-family: Georgia;
font-style: inherit;
padding-bottom: 10px;
}

a {
font-family: Georgia;
padding-bottom: 10px;
}

ul {
padding-bottom: 10px;
}

ol {
padding-bottom: 10px;
}

figure {
padding-bottom: 10px;
}

.sidebar {
background: #e39f96;
padding-bottom: 10px;
}
